@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin-bottom: 0;
}

/* colors */
/* end colors */
/* font-size */
/* end font-size */
/* txt */
.h1 {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
}

.h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 37px;
}

.h2-lg {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
}
@media screen and (min-width: 576px) {
  .h2-lg {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 44px;
  }
}

.h3 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
}

.h3-caps-bold {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
}

.h3-caps {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
}

.h3-mob {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
}

.h4 {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 30px;
}

.h6-bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
}

.h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
}

.txt-sm {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 14px;
}

/* theme */
.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.theme-dark .txt-active:active {
  color: #F0145A;
}
.theme-dark .txt-primary {
  color: #FFFFFF;
}
.theme-dark .txt-light {
  color: #FFFFFF;
}
.theme-dark .nav-txt {
  color: #24A3FF;
}
@media screen and (min-width: 576px) {
  .theme-dark .nav-txt {
    color: #FFFFFF;
  }
}
.theme-dark .border-txt {
  border-bottom: 2px solid transparent;
}
.theme-dark .border-txt:hover {
  transition: 0.3s ease;
  background-color: #E6E6F0;
}
@media screen and (min-width: 576px) {
  .theme-dark .border-txt:hover {
    background-color: transparent;
    border-bottom-color: #FFFFFF;
  }
}
.theme-dark .border-txt:active {
  color: #F0145A;
}
@media screen and (min-width: 576px) {
  .theme-dark .border-txt:active {
    border-bottom-color: #F0145A;
  }
}
.theme-dark .header__selection::before {
  background-color: #FFFFFF;
}
.theme-dark .header__grid-inner {
  background: rgba(245, 245, 250, 0.2);
}
@media screen and (min-width: 576px) {
  .theme-dark .header__grid-inner {
    background: transparent;
  }
}
.theme-dark .txt-contrast {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .theme-dark .txt-contrast {
    background: transparent;
    height: 47px;
  }
}

.theme-light .txt-primary {
  color: #000000;
}
.theme-light .txt-active:active {
  color: #F0145A;
  transition: 0.3s ease;
}
.theme-light .txt-light {
  color: #B3B3BA;
}
.theme-light .svg {
  fill: #24A3FF;
}
.theme-light .txt-main-alt {
  color: #46466E;
}
.theme-light .facebook-img {
  fill: #B3B3BA;
}
.theme-light .nav-txt {
  color: #24A3FF;
}
.theme-light .border-txt {
  border-bottom: 2px solid transparent;
}
.theme-light .border-txt:hover {
  transition: 0.3s ease;
  background-color: #E6E6F0;
}
@media screen and (min-width: 576px) {
  .theme-light .border-txt:hover {
    background-color: transparent;
    border-bottom-color: #FFFFFF;
  }
}
.theme-light .border-txt:active {
  color: #F0145A;
}
@media screen and (min-width: 576px) {
  .theme-light .border-txt:active {
    border-bottom-color: #F0145A;
  }
}
.theme-light .header__selection::before {
  background-color: #E6E6F0;
}
.theme-light .header__logo-color {
  fill: #323264;
}
.theme-light .header__grid-inner {
  background: #F5F5FA;
}
@media screen and (min-width: 576px) {
  .theme-light .header__grid-inner {
    background: transparent;
  }
}
.theme-light .txt-contrast {
  color: #323264;
}

/* end theme */
/* common */
.fl-center {
  display: flex;
  justify-content: center;
}

.fl-between {
  display: flex;
  justify-content: space-between;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-top: 15px;
}

.container-sm {
  --bs-gutter-x: 0;
  padding-top: 0;
}

.container-slider {
  padding: 15px 15px 0 15px;
  max-width: 250px;
}
@media screen and (min-width: 375px) {
  .container-slider {
    max-width: 345px;
  }
}
@media screen and (min-width: 576px) {
  .container-slider {
    max-width: 570px;
  }
}
@media screen and (min-width: 768px) {
  .container-slider {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container-slider {
    max-width: 990px;
  }
}
@media screen and (min-width: 1200px) {
  .container-slider {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container-slider {
    max-width: 1110px;
  }
}
@media screen and (min-width: 1920px) {
  .container-slider {
    max-width: 1390px;
  }
}

.container-footer {
  max-width: 264px;
  width: 100%;
  background-color: #F5F5FA;
}

.navbar-toggler {
  justify-content: end;
}

.txt-gradient {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.txt-topic {
  color: #24A3FF;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section-gradient {
  min-height: 100vh;
  height: 100%;
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  position: absolute;
  bottom: 0;
}
.section-gradient__shadow_1 {
  background-color: #CACADB;
  max-width: calc(100% - 40px);
  width: 100%;
  bottom: -10px;
  left: 20px;
}
.section-gradient__shadow_2 {
  background-color: #E7E7F2;
  max-width: calc(100% - 80px);
  width: 100%;
  bottom: -20px;
  left: 40px;
}

.header {
  min-height: 86px;
  height: 100%;
}
@media screen and (min-width: 576px) {
  .header__grid {
    grid-template-areas: "info" "logo" "nav";
    display: grid;
    gap: 15px;
    margin-top: 41px;
  }
}
@media screen and (min-width: 992px) {
  .header__grid {
    grid-template-areas: "logo info" "logo nav";
    gap: 0;
  }
}
.header__grid-inner {
  padding: 10px 15px;
}
.header__logo {
  grid-area: logo;
}
.header__logo-img {
  max-width: 70px;
  min-height: 32px;
  height: 100%;
}
@media screen and (min-width: 576px) {
  .header__logo-img {
    max-width: 130px;
    min-height: 60px;
  }
}
.header__info {
  grid-area: info;
  align-items: end;
  gap: 10px;
}
.header__info-link {
  padding: 5px 7px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.header__info-link:hover,
.header__info-link :active {
  border: 1px solid #F0145A;
  background-color: #F0145A;
}
.header__nav {
  grid-area: nav;
}
@media screen and (min-width: 576px) {
  .header__nav {
    height: 25px;
  }
}
.header__nav-link {
  text-align: center;
  max-width: 335px;
  width: 100%;
  background-color: #F5F5FA;
  border-radius: 12px;
}
@media screen and (min-width: 576px) {
  .header__nav-link {
    max-width: 100%;
    background-color: transparent;
    border-radius: 0;
  }
}
.header__nav-link > .active {
  color: #F0145A;
}
@media screen and (min-width: 576px) {
  .header__nav-link > .active {
    border-bottom: 2px solid #F0145A;
  }
}
.header__selection {
  padding-left: 10px;
  margin-left: 6px;
}
.header__selection::before {
  content: "";
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  left: 0;
  background-color: #FFFFFF;
  display: none;
}
@media screen and (min-width: 576px) {
  .header__selection::before {
    display: flex;
  }
}

.active-txt {
  border: 1px solid #F0145A;
  background-color: #F0145A;
  color: #FFFFFF;
}

.logo-img {
  height: 26px;
}
@media screen and (min-width: 768px) {
  .logo-img {
    height: 47px;
  }
}

.navbar-toggler {
  color: #FFFFFF;
  border: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
  background-color: #E6E6F0;
  color: #323264;
}

.offcanvas.offcanvas-bottom {
  border-radius: 12px 12px 0px 0px;
  right: 8px;
  left: 8px;
  align-items: end;
}

.btn-close {
  margin: 12px 12px 20px 0;
}

.main-section {
  min-height: 100vh;
}
.main-section__bg {
  min-height: 100%;
  overflow: hidden;
}
.main-section__bg-img {
  height: 100%;
}
.main-section__content {
  min-height: 100vh;
}
.main-section__btn-box {
  margin-bottom: 30px;
}
.main-section__btn {
  padding: 7px 9px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
}
.main-section__btn:hover {
  opacity: 0.5;
  border: 2px solid #F0145A;
}
.main-section__btn-active:hover {
  stroke: #F0145A;
}

.main-services {
  min-height: calc(100vh - 116px);
}

.slider__topic {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .slider__topic {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 37px;
  }
}
.slider__choice {
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  padding-right: 44px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .slider__choice {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    border-bottom: transparent;
    max-width: 439px;
    overflow: visible;
  }
}

.tab-content {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .tab-content {
    margin-left: 60px;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-color: transparent;
}

.nav-link:focus,
.nav-link:hover {
  color: #F0145A;
}

.nav-link {
  color: #B3B3BA;
  text-align: end;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
}
@media screen and (min-width: 992px) {
  .nav-link {
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 46px;
  }
}

.benefits {
  padding-bottom: 60px;
  margin-top: 30px;
}
@media screen and (min-width: 576px) {
  .benefits {
    margin-top: 60px;
  }
}
@media screen and (min-width: 992px) {
  .benefits-services {
    min-height: calc(100vh - 116px);
  }
}
.benefits__cards {
  margin-top: 30px;
  row-gap: 30px;
}
@media screen and (min-width: 576px) {
  .benefits__cards {
    margin-top: 60px;
    row-gap: 60px;
  }
}
.benefits__item {
  gap: 15px;
  margin-top: 30px;
}
.benefits__item-topic {
  line-height: 27px;
}
.benefits__item-txt {
  line-height: 26px;
}

.team {
  margin-top: 50px;
}
@media screen and (min-width: 576px) {
  .team {
    margin-top: 80px;
  }
}
.team__box {
  max-width: 315px;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url("../assets/images/team-photo.png");
  background-position: center;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .team__box {
    max-width: 648px;
  }
}
@media screen and (min-width: 992px) {
  .team__box {
    max-width: 400px;
    width: 100%;
    min-height: 528px;
    margin: 0;
    margin-right: 18px;
    border-radius: 12px 0 0 12px;
  }
}
@media screen and (min-width: 1400px) {
  .team__box {
    min-height: 344px;
  }
}

.carousel-indicators {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
  margin-top: 30px;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: 0;
  cursor: pointer;
  background-color: #24A3FF;
  background-clip: padding-box;
  border-radius: 50%;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.2;
  transition: opacity 0.6s ease;
}
.carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}
.carousel-inner {
  background-color: #F5F5FA;
  border-radius: 12px;
  max-width: 250px;
}
@media screen and (min-width: 375px) {
  .carousel-inner {
    max-width: 315px;
  }
}
@media screen and (min-width: 576px) {
  .carousel-inner {
    max-width: 648px;
  }
}
@media screen and (min-width: 992px) {
  .carousel-inner {
    max-width: 100%;
  }
}
.carousel__txt {
  margin-bottom: 30px;
}
.carousel__txt-box {
  margin: 30px 30px 60px;
}
@media screen and (min-width: 992px) {
  .carousel__txt-box.active {
    max-width: 444px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .carousel__txt-box {
    margin: 0;
    margin-left: 30px;
    max-width: 444px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel__txt-box {
    max-width: 600px;
  }
}
@media screen and (min-width: 1400px) {
  .carousel__txt-box {
    max-width: 860px;
  }
}
.carousel__signature {
  color: #B3B3BA;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
  }
}

.trust {
  margin-top: 60px;
}
@media screen and (min-width: 1920px) {
  .trust-container {
    max-width: 1720px;
  }
}
.trust__inner {
  margin-bottom: 30px;
}
.trust__topic {
  color: #323264;
}
.trust__item {
  min-height: 120px;
}
.trust__item-blue {
  background-color: #1C4280;
}
.trust__item-blue-img {
  max-width: 217px;
  width: 100%;
}
.trust__item-dark-bl {
  background-color: #143646;
}
.trust__item-dark-bl-img {
  max-width: 199px;
}
.trust__item-orange-gr {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.trust__item-orange-gr-img {
  max-width: 179px;
}
.trust__item-purpure {
  background-color: #9E4DC3;
}
.trust__item-purpure-img {
  max-width: 180px;
}
.trust__item-orange {
  background-color: #FD9339;
}
.trust__item-orange-img {
  max-width: 174px;
}
.trust__item-milk {
  background-color: #E2E2E4;
}
.trust__item-milk-img {
  max-width: 195px;
}
.trust__item-red {
  background-color: #C71C36;
}
.trust__item-red-img {
  max-width: 138px;
}
.trust__item-lgblue {
  background-color: #DCF3F9;
}
.trust__item-lgblue-img {
  max-width: 146px;
}
.trust__item-opacity {
  background-color: #EAEAEA;
}
.trust__item-opacity-img {
  max-width: 182px;
}
.trust__item-deep-purpure {
  background-color: #282240;
}
.trust__item-deep-purpure-img {
  max-width: 181px;
}
.trust__item-deepblue {
  background-color: #1D4568;
}
.trust__item-deepblue-img {
  max-width: 189px;
}
.trust__item-black {
  background-color: #000000;
}
.trust__item-black-img {
  max-width: 152px;
}

.info {
  background-color: #F5F5FA;
  padding-top: 30px;
}
@media screen and (min-width: 576px) {
  .info {
    padding: 30px 0 0 0;
  }
}
.info-inner {
  row-gap: 30px;
}
.info__topic {
  padding: 0 12px;
}
.info__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.info__img-box {
  max-width: 315px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .info__img-box {
    max-width: 100%;
  }
}
.info-card {
  border-radius: 8px;
  background: #FFFFFF;
  padding: 0;
  max-width: 315px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .info-card {
    min-height: 514px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .info-card {
    max-width: 420px;
  }
}
.info-card__item {
  min-height: 255px;
  padding: 30px 30px 0;
}
.info-card__txt {
  padding-bottom: 30px;
}
@media screen and (min-width: 576px) {
  .info-card__txt {
    padding-bottom: 0;
  }
}
.info-card__txt :first-child {
  margin-bottom: 15px;
  color: #24A3FF;
}
.info-card__txt :nth-child(2) {
  color: #B3B3BA;
}
.info-card__txt :last-child {
  border-top: 4px solid #E6E6F0;
  padding-top: 15px;
}
.info__btn {
  background-color: transparent;
  border-radius: 10px;
  min-height: 38px;
  height: 100%;
  padding: 0 30px 0;
  border: 0;
  transition: 0.3s ease;
}
.info__btn.active {
  background-color: #FFFFFF;
}
.info__btn:hover {
  background-color: #F5F5FA;
}
.info__btn-box {
  background-color: #E6E6F0;
  max-width: 233px;
  width: 100%;
  border-radius: 12px;
  min-height: 42px;
  height: 100%;
  gap: 2px;
}

.more-btn {
  padding: 18px 30px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: 0;
  color: #FFFFFF;
  transition: 0.3s ease;
  margin-bottom: 30px;
}
.more-btn:hover {
  box-shadow: 8px -1px 5px 5px grey, inset 5px -5px 10px -8px grey;
}

.footer {
  background-color: #FFFFFF;
}
@media screen and (min-width: 576px) {
  .footer {
    background-color: #F5F5FA;
  }
}
.footer-container {
  background-color: #F5F5FA;
  max-width: 264px;
  width: 100%;
  padding: 30px 0;
}
@media screen and (min-width: 576px) {
  .footer-container {
    max-width: 100%;
  }
}
.footer__box {
  border-top: 2px solid #E6E6F0;
  max-width: 204px;
  width: 100%;
  padding-top: 30px;
}
@media screen and (min-width: 576px) {
  .footer__box {
    max-width: 100%;
  }
}
.footer-adress {
  color: #323264;
}
.footer-link::before {
  content: "";
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  left: -10px;
  top: 6px;
  background-color: #B3B3BA;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-link::before {
    display: block;
  }
}
.footer__grid {
  grid-template-areas: "address" "contact" "info";
}
@media screen and (min-width: 768px) {
  .footer__grid {
    grid-template-areas: "address info" "contact info";
  }
}
.footer__grid-address {
  grid-area: address;
}
.footer__grid-contact {
  grid-area: contact;
  margin-top: 21px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__grid-contact {
    gap: 20px;
  }
}
.footer__grid-tel::before {
  content: "";
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  left: 195px;
  top: 9px;
  background-color: #B3B3BA;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__grid-tel::before {
    display: block;
    left: -12px;
  }
}
.footer__grid-website::before {
  content: "";
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  left: 195px;
  top: 9px;
  background-color: #B3B3BA;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__grid-website::before {
    left: -12px;
    display: block;
  }
}
.footer__grid-info {
  grid-area: info;
  color: #B3B3BA;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer__grid-info {
    margin-top: 0;
    justify-self: end;
  }
}
@media screen and (min-width: 576px) {
  .footer__grid-services {
    grid-template-areas: "address" "contact" "info";
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .footer__grid-services {
    grid-template-areas: "address info" "contact info";
    max-width: 100%;
  }
}